.main{
    background-image: url('https://media.istockphoto.com/id/1631320971/photo/beautiful-blue-colored-textured-diary-made-with-handmade-paper-peacock-feather-and-a-flute-on.jpg?s=2048x2048&w=is&k=20&c=OUxKxBcfB_kbYV_ORbS0Vrxc_mb92lj7-_5Zzm2tRKQ=');
    background-repeat: no-repeat;
    background-size: cover;
   height: 100vh;
    width: 100%;
}